<h1>New Youtube Link</h1>
<%= form_for :tube ,url: tubes_path do |f| %>
	<p>
		<%= f.label :title %><br>
		<%= f.text_field :title %>
	</p>
	
	<p>
		<%= f.label :link %><br>
		<%= f.text_field :link %>
	</p>
	
	<p>
		<%= f.submit %>
	</p>
<% end %>
