.row
  .col-md-8
    %p
      %iframe{:allowfullscreen => "", :frameborder => "0", :height => "315", :src => "//www.youtube.com/embed/#{@tube.link}", :width => "560"}
  .col-md-4
    .panel.panel-danger
      .panel-heading Ranking
      .panel-body
        .vote_wrapper
          .row
            Rank: #{@tube.rank} 
          .row
            .col-md-3
              = button_to voteup_tube_path(@tube), :class => "btn btn-success btn-sm" do
                %span.glyphicon.glyphicon-thumbs-up
                %nbsp UP
            .col-md-3
              = button_to votedown_tube_path(@tube), :class => "btn btn-danger btn-sm" do
                %span.glyphicon.glyphicon-thumbs-down
                %nbsp DOWN
.row
  .col-md-2
    %h4
      %span.label.label-danger.glyphicon.glyphicon-expand Youtube
  .col-md-10
    %h4
      #{raw @tube.title}

%h2 Comments
%ul.comments_wrapper
  = render partial: "comment", collection: @tube.comments, as: :comment

%h2 Add Comments
= form_for([@tube,@tube.comments.build]) do |f|
  %p
    = f.label :author
    %br/
    = f.text_field :author
    %br/
  %p
    = f.label :body
    %br/
    = f.text_area :body
    %br/
  %p
    = f.submit
= link_to 'Back to Tubes', tubes_path
