<h1>Youtube link ID=<%= @tube.id %></h1>
<p>Title : <%= raw @tube.title%></p>
<p>Link : <%= @tube.link%></p>
<p>Rank: <%= @tube.rank%></p>
<p><iframe width="560" height="315" src="//www.youtube.com/embed/<%= @tube.link%>" frameborder="0" allowfullscreen></iframe></p>

<div class="vote_wrapper">
	<%= button_to 'Vote Up', voteup_tube_path(@tube)%>
	<%= button_to 'Vote Down', votedown_tube_path(@tube)%>
</div>

<h2>Comments</h2>
<ul class="comments_wrapper">
<% @tube.comments.each do |comment| %>
	<li>
		<span class="comment_author"><%= comment.author%></span>
		<span class="comment_body"><%= comment.body%></span>
	</li>
<% end %>
</ul>

</br>

<h2>Add Comments</h2>
<%= form_for([@tube,@tube.comments.build]) do |f| %>
	<p>
	<%= f.label :author %><br/>
	<%= f.text_field :author %><br/>
	</p>

	<p>
	<%= f.label :body %><br/>
	<%= f.text_area :body %><br/>
	</p>

	<p>
	<%= f.submit %>
	</p>

<% end %>
<%= link_to 'Back to Tubes', tubes_path %>
